body{
	background-color: #fbfbfb;
}
#apptopbar{
	width:100%;height:23px;z-index:1000;position:fixed;top:0px;left:0px;padding:9px;
	background-image:url(images/imx3.png);

}


#apptopbar .logo{
	font-family:'Roboto Condensed';
	font-weight:500;
	color:#57df58;
	text-shadow:0px 0px 10px #000000;
	display:inline;padding-left:5px;
}	
#apptopbar .propertycontainer{
	display: inline;
	margin-left: 20px;
	font-size:11px;
	color:#ffffff;
	font-weight: 200;
	text-shadow:0px 1px 0px #000000;
	font-family:'Arial';
}

.canvas{
	background-color:white;
	margin-top:40px;
	cursor:crosshair;
	border:1px solid #e6e6e6; position:absolute;left:90px
}

.canvas:active { 
	/*cursor: url(images/pencil.cur);*/
	cursor:crosshair;
}

.toolbox{
	background-color:white;
	font-family: 'Oxygen';
	min-height: 50px;
	font-size:11px;
	margin-top:40px;position:fixed;border:1px solid #7d7d7d;width:70px;height:220px;box-shadow:0px 0px 3px #a5a5a5
}
.toolbox .wrapper{
	padding:5px;
}
.toolbox .title{
	font-size:10px;padding:4px;background-color:#dbdbdb;font-family:'Oxygen';color:#292929;font-weight:bold
}

.toolbox .tb_tool{
	height:17px;
	width:17px;
	margin-bottom:1px;
	font-size:12px;
	cursor:pointer;
	font-weight: bold;
    box-shadow: 1px 1px #FFFFFF inset;
    background-color: #f5f5f5;
	border-width:1px;
	font-family: 'Roboto Condensed';
	padding:4px;
	border-color:#ebebeb;
	border-style:solid;
	display:inline-block;
	text-shadow: 0px 0px 1px #ebebeb;
	transition: border-color 0.5s;
}

.toolbox .tb_active{
	box-shadow: 0px 0px 5px #0f8900;
	text-shadow:none;
}

.tb_pen{
	background-image:url('images/pencil.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	background-size: 17px 17px;
}

.tb_vector{
	background-image:url('images/vector.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	background-size: 17px 17px;
}

.toolbox .tb_tool:hover{
	border-color:black;
}

#xtoast{
	display:none;
	position:fixed;top:100px;left:200px;
	z-index:10000;font-family:'Oxygen';font-size:12px;
	background-image:url('images/imx3.png');
	text-shadow: 0px 1px 0px black;
	box-shadow: 0px 0px 5px black;
	padding:5px;
	padding-left:9px;
	padding-right:9px;
	border-radius:5px;color:white;opacity:0.8
}

.colorblock{
	width:55px;height:22px;margin-bottom:2px;cursor:pointer;
}

.layerblock,.userblock{
	cursor:pointer;
	padding:5px;
	border-bottom-style: solid;
	border-bottom-color: #ebebeb;
	border-bottom-width: 1px;
}

.layerblock_active,.userblock_active{
	background-color:#3a3a3a;
	color:white;
	text-shadow:0px 1px 1px black; 
}

.dbutton{
	font-size:12px;
	cursor:pointer;
    box-shadow: 1px 1px #FFFFFF inset;
    background-color: #f5f5f5;
	border-width:1px;
	border-color:#ebebeb;
	border-style:solid;
	display:inline-block;
	text-shadow: 0px 0px 1px #ebebeb;
	transition: border-color 0.5s;

}


.dbutton:hover{
	border-color:black;
}

.dbutton-small{
	font-size:10px;
}
.toolbox .toolbar{
	padding:3px;
}